h1 {
  font-size: 2rem;
  transition: all .3s;
  color: blue;

  &:hover {
    transform: translateX(50px);
    color: red;
  }
}

.bg {
  // エイリアスで登録したパスで呼び出す場合
  background-image: url('~@imgs/doodle.png');
  // モジュールで登録した方法で呼び出す場合
  // background-image: url('~images/doodle.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}